body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1,
h2 {
    color: #333;
}

#login-container,
#dashboard,
#transaction-container {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

#transaction-container input {
    width: 100%;
    margin-bottom: 10px;
}

#transaction-container button {
    margin-top: 10px;
}

#transaction-container p {
    margin-top: 20px;
}

#transaction-container p span {
    font-weight: bold;
}